.header-icons {
    margin: 0.5vh 0 1vh 1vh;
    color: black;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
  }
  .home-icon:hover {
    color: blueviolet;
    font-size: 1.2rem;
  }
  
  .user {
    display: flex;
    margin-right: 1vw;
  }
  
  .user-name {
    margin: 0 15px 0 0 ;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .user-icon {
   margin: 0 10px 0 10px !important;
  
  }
  
  .sign-out-icon {
    margin: 0 10px 0 10px !important;
  }
  .sign-out-icon:hover {
    transform: scale(1.2);
    color: red;
  }